__pycache__/
# temporary files
tempCodeRunnerFile.py
# Environment variable file
env/
# Results of the tests and cache
results/
cache/
# Jupyter notebooks
notebooks/
Notebooks/
# results of the tests
results/
results2/
# Build networks
networks/