__pycache__/
# Environment variable file
env/
# Results of the tests and cache
results/
cache/
# Jupyter notebooks
notebooks/
# results of the tests
results/
results2/
# Build networks
networks/
# notebooks
